

 *{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Rubik", sans-serif;
   }

 .books{
    max-width: 200px;
 }  
 .games{
    max-width: 300px;
 }
 .crafts{
    max-width: 300px;
 }
 .flex{
    display: flex;
 }
 .section-container{
   flex-direction: column;
 padding: 0 5%;
 }
 .space-between{
   justify-content: space-between;
   align-items: center;
 }
 .space-evenly {
   justify-content: space-evenly;
 }
 nav {
   display: flex;
   justify-content: space-between;
   height: 50px;
   width: 100%;
 }
 nav>div {
   padding: 0% 5%;
 }
 nav img {
   height: 30px;
 }
 #cart {
   font-weight: bold;
   align-items: center;
 }
 .cart-align{
   align-items: center;
 }

 header {
 
   width: 100%;
   color: white;
 }

 .header-text {

   max-height: 100%;
 
 }

 .new-books{
   display: flex;
   justify-content: space-between;
 }


 .shopping{
  
   position:absolute;
   top:150px;
   left:50px;

 }

 .header-text img{
   width: 100vw;
  
 }
 header h1 {
   font-size: 7vh;
 }
 header h5 {
   font-size: 23px;
   margin-top: 20px;
 }

 .section {
   margin: 4% 0%;
 }
 .button {
   cursor: pointer;
   background-color: #6095ff;
   color: white;
   padding: 7px;
   border-radius: 4px;
 }
 .buy img {
   width: 20px;
   padding-left: 5px;
 }
 .buy {
   margin-top: 15px;
   padding-bottom: 50px;
 }
 footer {
   background-image: url("http://i1.faceprep.in/prograd-junior/footer-bg.png");
   background-size: 100% 100%;
   color: white;
   padding: 0% 5%;
 }
 footer img {
   height: 150px;
   width: 150px;
   border-radius: 50%;
 }
 #details {
   flex-direction: column;
   text-align: right;
 }
 h1,
 h2 {
   font-family: "Playfair Display", serif;
   font-weight: bold;
 }
 h4 {
   color: grey;
   font-weight: lighter;
 }
 h6 {
   font-size: 17px;
 }
 .buy p {
   font-weight: bold;
   font-size: 20px;
 }
 h3,
 h2 {
   margin-bottom: 10px;
 }
 .container {
   flex-wrap: wrap;
 }
 @media only screen and (max-width: 600px) {
   header {
     height: 200px;
     font-size: 15px;
     text-align: start;
   }
   header h1 {
     font-size: 4vh;
   }
   header h5 {
     font-size: 15px;
   }
   .header-text {
     padding: 0% 60% 5% 5%;
   }
   body {
     text-align: center;
   }
   .container {
     justify-content: center;
   }
 }
